{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %}Profesor - {% endblock %}

{% block encabezado %} 


{% endblock %}
{% block contenido %}
<style>
.jumbotron {
    background-color: white;
    margin: 0 0 5px 0;
    
}
.cuerpo{
    padding:0;
    margin:auto;
}

.block{
    background-color:rgba(88, 147, 197, 0.7);
    position: relative;
    border-radius:4px;
    padding-bottom: 48px;
    color: rgba(255, 255, 255, 0.7)
}
.panel{
    margin: auto;
}
.visible{
    position: fixed;
    padding: auto;
    top: 15%;
    right: 0.5%;
}
.block-blanco{
    position: relative;
    background-color: white;
    color: rgb(74,74,76);
    width: 80%;
    padding: 40px 20px 20px 20px;
    margin-bottom: 1%;
    border-radius:6px;
}
#sitemap
{
    display:none;
}

@media screen and (min-width: 768px)
{
#sitemap{
    width: 100%;
    height: 100%;
    display: block;
}
}
.sticky-absolute{
    right: 0;
    left: 0;
    width: 100%;
    padding: 0px;
}

#sitemap a, #sitemap li{
    color: black;
    font-family: Helvetica, sans-serif;

}

#sitemap a:link{
    text-decoration: none;
}


.fila:hover {
    background-color: rgba(55, 55, 55, 0.1);
    color: rgba(255, 255, 204, 1);   
}

.over{
    overflow-y: hidden; 
}

.over:hover{
    overflow-y: auto; 
}
</style>
<div class="container-fluid cuerpo">
    <div class="row cuerpo"></div>
            <div class= "col-xs-0 col-sm-3 col-md-3 col-lg-3 " style="margin:0; padding:0 0 0 1%;">
            <div class="sticky-absolute" id="sitemap">
                <br>
                {% if user.is_authenticated %}
                <div style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:15px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin:auto;" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <h3 title="Estilos de aprendizaje: modelo VARK" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Estilos de aprendizaje</h3>
                    </div>
                    <br>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Visual" style="margin:auto;"><img src='/static/imagenes/visual.png' alt="visual" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.visual}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Visual</h6>
                    </div>
                    <div style=" display:inline-block;  padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Auditivo" style="margin:auto;"><img src='/static/imagenes/auditivo.png' alt="auditivo" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.auditivo}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Auditivo</h6>
                    </div>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Lectura-Escritura" style="margin:auto;"><img src='/static/imagenes/lec.jpg' alt="Lectura-Escritura" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.lectura}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Lectura-E</h6>
                    </div>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Kinestésico" style="margin:auto;"><img src='/static/imagenes/kine.png' alt="kinestesico" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.kinestesico}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Kinestésico</h6>
                    </div>
                </div>
                {% endif %}
                <div class="over" style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:15px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin-top: 8px; max-height:150px;">
                    <div>
                        <h3 title="Temas activos" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Temas activos</h3>
                        <br>
                    </div>
                    <div style="color:#8899a6; opacity:1; font-size:12px;">
                        {% for p in plan %}
                        <div class="fila">
                        <a href="/tema/{{p.id}}" style="background: transparent; display:inline-block;"><img src='{{MEDIA_URL}}{{p.imagen}}' alt="{{tema.nombre}}" class="img-rounded" style="width:48px;height:48px;"></a>
                        <a href="/tema/{{p.id}}"><div style="display:inline-block; vertical-align:middle;"><b style="font-size:13px; font-weight:bold; color: #292f33; ">{{p}}</b><br>
                        <b><span style="color:gray;">{{p.duracion}}</span></b></a>
                        </div>
                        </div>
                        {% empty %}
                        <h6>No hay temas activos</h6>
                        {% endfor %}
                     </div>
                </div>
                <div  class="over" style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:10px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin-top: 8px; max-height:300px;">
                    <div>
                        <h3 title="Documentos de mejor Ranking" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Documentos de mejor Ranking</h3>
                        <br>
                    </div>
                    <div style="color:#8899a6; opacity:1; font-size:12px;">
                        {% for doc in documentos %}
                        <div class="fila">
                        <a href="/doc/{{doc.id}}" style="background: transparent; display:inline-block;">
                            {% if doc.tipo_doc = 'video' %}
                                <strong><h4 style="width:30px;height:30px; color: green; margin:auto;"><span class="glyphicon glyphicon-film" aria-hidden="true"></h4></strong>
                            {% elif doc.tipo_doc = 'audio' %}
                                <strong><h4 style="width:30px;height:30px; color: blue; margin:auto;"><span class="glyphicon glyphicon-music" aria-hidden="true"></h4></strong>
                            {% else %}
                                <strong><h4 style="width:30px;height:30px; color: orange; margin:auto;"><span class="glyphicon glyphicon-file" aria-hidden="true"></h4></strong>
                            {% endif %}
                        </a>
                        <a href="/doc/{{doc.id}}"><div style="display:inline-block; vertical-align:middle;width:70%;"><b style="font-size:13px; font-weight:bold; color: #292f33; ">{{doc}}</b><br>
                        <b><span style="color:gray;">{{doc.fecha|date}}</span></b></a>
                        </div>
                        <a href="/doc/{{doc.id}}"><div style="display:inline-block; vertical-align:middle;width:10%;">{{doc.puntuacion}}<strong><h4 style="width:30px;height:30px; color: yellow; margin:auto;"><span class="glyphicon glyphicon-star" aria-hidden="true"></h4></strong></div></a>
                        </div>
                        {% endfor %}
                     </div>
                </div>
            </div>
        </div>
         <div class= "col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="cuerpo">
                <div class="jumbotron text-left ">
                    <h1 style="color:#3598dc;">El sistema</h1>
                    <p>Este sistema es una herramienta que trata de facilitar y complementar a los estudiante su proceso de aprendizaje en la asignatura IHC. Por medio de recomendaciones según su <a href="#estilos">Estilo de Aprendizaje</a> usando el modelo <a href="#modelo">VARK</a>, la lógica difusa y la minería web.</p>
                    <p>Lo anteriormente mencionado, ayudará a reforzar los conocimientos adquiridos en la materia dando como consecuencia un aprendizaje más rápido y duradero.</p>
                </div>
                <A name="estilos"></A>
                <div class="jumbotron text-left ">
                    <h2 style="color:#3598dc;">¿Que son los Estilos de Aprendizaje?</h2>
                    <p>No todos los individuos presentan un mismo proceso cognitivo, ni un mismo procesamiento de la información, que son necesarios para la adquisición de nuevos conocimientos. Por esto, se han realizado varias clasificaciones a través del tiempo, tomando las características que tiene un individuo en su proceso de aprendizaje, es decir, los estilos de aprendizaje.</p>
                    <p>Los estilos de aprendizaje no son más que las preferencias características que un estudiante tiene en la forma de percibir y procesar la información (Felder, 1996).</p>

                </div>
                <A name="modelo"></A>
                <div class="jumbotron text-left ">
                    <h2 style="color:#3598dc;">Modelo VARK</h2>
                    <p>El modelo VARK es un instrumento diseñado para identificar estilos de enseñanza-aprendizaje creado por Neil Fleming y Collen Mills en 1992. Se trata de un sencillo instrumento para autoidentificar las preferencias sensoriales para procesar y elaborar la información durante los procesos de aprendizaje.</p>
                    <p>La denominación VARK, se establece por las iniciales de los términos en inglés que tipifican a los estilos de aprendizaje que procura identificar: <strong>V</strong>isual (visual), <strong>A</strong>ural (auditivo), <strong>R</strong>eed/Write (lectura/escritura) y <strong>K</strong>inesthetic (quinésico o Kinestésico)</p>
                </div>
            </div>
        </div>

    </div>
    
    
</div>

{% endblock %}


       