{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %}Profesor - {% endblock %}

{% block encabezado %} 


{% endblock %}
{% block contenido %}
<style>
.jumbotron {
    background-color: white;
    margin: 0 0 5px 0;
    
}
.cuerpo{
    padding:0;
    margin:auto;
}

.block{
    background-color:rgba(88, 147, 197, 0.7);
    position: relative;
    border-radius:4px;
    padding-bottom: 48px;
    color: rgba(255, 255, 255, 0.7)
}
.panel{
    margin: auto;
}
.visible{
    position: fixed;
    padding: auto;
    top: 15%;
    right: 0.5%;
}
.block-blanco{
    position: relative;
    background-color: white;
    color: rgb(74,74,76);
    width: 80%;
    padding: 40px 20px 20px 20px;
    margin-bottom: 1%;
    border-radius:6px;
}
#sitemap
{
    display:none;
}

@media screen and (min-width: 768px)
{
#sitemap{
    width: 100%;
    height: 100%;
    display: block;
}
}
.sticky-absolute{
    right: 0;
    left: 0;
    width: 100%;
    padding: 0px;
}

#sitemap a, #sitemap li{
    color: black;
    font-family: Helvetica, sans-serif;

}

#sitemap a:link{
    text-decoration: none;
}


.fila:hover {
    background-color: rgba(55, 55, 55, 0.1);
    color: rgba(255, 255, 204, 1);   
}

.over{
    overflow-y: hidden; 
}

.over:hover{
    overflow-y: auto; 
}
</style>
<div class="container-fluid cuerpo">
    <div class="row cuerpo"></div>
            <div class= "col-xs-0 col-sm-3 col-md-3 col-lg-3 " style="margin:0; padding:0 0 0 1%;">
            <div class="sticky-absolute" id="sitemap">
                <br>
                {% if user.is_authenticated %}
                <div style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:15px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin:auto;" class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                        <h3 title="Estilos de aprendizaje: modelo VARK" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Estilos de aprendizaje</h3>
                    </div>
                    <br>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Visual" style="margin:auto;"><img src='/static/imagenes/visual.png' alt="visual" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.visual}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Visual</h6>
                    </div>
                    <div style=" display:inline-block;  padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Auditivo" style="margin:auto;"><img src='/static/imagenes/auditivo.png' alt="auditivo" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.auditivo}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Auditivo</h6>
                    </div>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Lectura-Escritura" style="margin:auto;"><img src='/static/imagenes/lec.jpg' alt="Lectura-Escritura" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.lectura}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Lectura-E</h6>
                    </div>
                    <div style=" display:inline-block; padding: 5px;" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                        <h6 title="Kinestésico" style="margin:auto;"><img src='/static/imagenes/kine.png' alt="kinestesico" class="img-responsive img-circle center-block peque"></h6>
                        <h5 style="font-weight:bold; color: green; margin:auto;">{{perfil.kinestesico}}</h5>
                        <h6 style="font-size:13px; font-weight:bold; color: gray; margin:auto">Kinestésico</h6>
                    </div>
                </div>
                {% endif %}
                <div class="over" style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:15px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin-top: 8px; max-height:150px;">
                    <div>
                        <h3 title="Temas activos" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Temas activos</h3>
                        <br>
                    </div>
                    <div style="color:#8899a6; opacity:1; font-size:12px;">
                        {% for p in plan %}
                        <div class="fila">
                        <a href="/tema/{{p.id}}" style="background: transparent; display:inline-block;"><img src='{{MEDIA_URL}}{{p.imagen}}' alt="{{tema.nombre}}" class="img-rounded" style="width:48px;height:48px;"></a>
                        <a href="/tema/{{p.id}}"><div style="display:inline-block; vertical-align:middle;"><b style="font-size:13px; font-weight:bold; color: #292f33; ">{{p}}</b><br>
                        <b><span style="color:gray;">{{p.duracion}}</span></b></a>
                        </div>
                        </div>
                        {% empty %}
                        <h6>No hay temas activos</h6>
                        {% endfor %}
                     </div>
                </div>
                <div  class="over" style="border-radius: 5px; border: solid 1px #e1e8ed; background-color: white; padding:10px; line-height:16px; font-family: Arial, sans-serif; color: #292f33; font-size: 14px; margin-top: 8px; max-height:300px;">
                    <div>
                        <h3 title="Documentos de mejor Ranking" style="color: #66757f; font-size:18px; line-height:22px; font-weight:300; margin:auto;">Documentos de mejor Ranking</h3>
                        <br>
                    </div>
                    <div style="color:#8899a6; opacity:1; font-size:12px;">
                        {% for doc in documentos %}
                        <div class="fila">
                        <a href="/doc/{{doc.id}}" style="background: transparent; display:inline-block;">
                            {% if doc.tipo_doc = 'video' %}
                                <strong><h4 style="width:30px;height:30px; color: green; margin:auto;"><span class="glyphicon glyphicon-film" aria-hidden="true"></h4></strong>
                            {% elif doc.tipo_doc = 'audio' %}
                                <strong><h4 style="width:30px;height:30px; color: blue; margin:auto;"><span class="glyphicon glyphicon-music" aria-hidden="true"></h4></strong>
                            {% else %}
                                <strong><h4 style="width:30px;height:30px; color: orange; margin:auto;"><span class="glyphicon glyphicon-file" aria-hidden="true"></h4></strong>
                            {% endif %}
                        </a>
                        <a href="/doc/{{doc.id}}"><div style="display:inline-block; vertical-align:middle;width:70%;"><b style="font-size:13px; font-weight:bold; color: #292f33; ">{{doc}}</b><br>
                        <b><span style="color:gray;">{{doc.fecha|date}}</span></b></a>
                        </div>
                        <a href="/doc/{{doc.id}}"><div style="display:inline-block; vertical-align:middle;width:10%;">{{doc.puntuacion}}<strong><h4 style="width:30px;height:30px; color: yellow; margin:auto;"><span class="glyphicon glyphicon-star" aria-hidden="true"></h4></strong></div></a>
                        </div>
                        {% endfor %}
                     </div>
                </div>
            </div>
        </div>
        <div class= "col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <br>
            <div style="background-color:rgb(87, 80, 68); color:white;" class="jumbotron text-center">
                <h2 style="color:#3598dc; ">ADMINISTRAR CURSO</h2>
                <p>Ingresa documentos, realiza el temario, la programación y más.</p>
                <p><a class="btn btn-md btn-info" href="/admin/" target="_blank" >Site administrador</a></p>
            </div>
            <div class="block">
                <br>
                <div class="row text-center block-blanco center-block" style="padding: 10px;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <div style="border-right:solid;">
                <img src='/static/imagenes/hhccii.png' alt="visual" class="img-responsive img-rounded center-block">
                <h2 style="display: inline-block;">Asignatura</h2>
            </div>
        </div>
         <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
            <div class="row">
                <h5 class="text-left">Estado del curso, temas y documentos.</h5>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h2  style= "margin: 3px 0 0 0;">{{temas.count}}</h2>
                        <h5 style="color: purple; margin: 3px 0 0 0;">Temas</h5>
                        <a style="display: inline-block;vertical-align:super;" href="/admin/sistema/tema/" title="gestionar temas"><h6><span class="glyphicon glyphicon-cog" aria-hidden="true"> Gestionar temas</h6></a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h2  style= "margin: 3px 0 0 0;">{{ac_temas}}</h2>
                        <h5 style="color: orange; margin: 3px 0 0 0;">Temas activos</h5>
                        <a style="display: inline-block;vertical-align:super;" href="/admin/sistema/tema/" title="Para gestionar programación debe ir a temas"><h6><span class="glyphicon glyphicon-edit" aria-hidden="true"> Editar programación de cada tema</h6></a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h2  style= "margin: 3px 0 0 0;">{{ndocumentos}}</h2>
                        <h5 style="color: green; margin: 3px 0 0 0;">Documentos</h5>
                        <a style="display: inline-block;vertical-align:super;" href="/admin/sistema/documento/" title="gestionar temas"><h6><span class="glyphicon glyphicon-cog" aria-hidden="true"> Gestionar documentos</h6></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row text-center block-blanco center-block" style="padding: 10px;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <div style="border-right:solid;">
                <img src='/static/imagenes/estudiante.jpg' alt="visual" style="height:80px;" class="img-responsive img-rounded center-block">
                <h2 style= "margin: 3px 0 0 0;">Estudiantes</h2>
            </div>
        </div>
         <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
            <div class="row">
                <h5 class="text-left">Usuarios e interacciones</h5>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2 style= "margin: 3px 0 0 0;">{{usuarios}}</h2>
                        <h5 style="color: purple;">Usuarios</h5>
                        <h6>Cantidad de usuarios</h6>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2 style= "margin: 3px 0 0 0;">{{ra}}</h2>
                        <h5 style="color: orange;">Puntuaciones</h5>
                        <h6>Cantidad de puntuaciones</h6>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2 style= "margin: 3px 0 0 0;">{{co}}</h2>
                        <h5 style="color: green;">Comentarios</h5>
                        <h6>Comentarios totales</h6>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <h2 style= "margin: 3px 0 0 0;">{{total}}</h2>
                        <h5 style="color: green;">Total interacciones</h5>
                        <h6>Interacciones explicitas</h6>
                    </div>
            </div>
        </div>
    </div>
    <div class="row text-center block-blanco center-block" style="padding: 10px;" >
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <div style="border-right:solid;">
                <img src='/static/imagenes/parametros.png' alt="visual" class="img-responsive img-rounded center-block">
                <h2 style="display: inline-block;">Parámetros</h2><strong><a style="display: inline-block;vertical-align:super;" href="/admin/sistema/parametro/" title="Editar Parámetros"><h5><span class="glyphicon glyphicon-edit" aria-hidden="true"></h5></a></strong>
            </div>
        </div>
         <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <h5 class="text-left">Parámetros de comportamiento del sistema</h5>
                {% for p in parametros %}
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <h2 style= "margin: 3px 0 0 0;">{{p.valor}}</h2>
                        {% if forloop.counter = 1 %}
                            <h5 style="color: green;">Correlación minima</h5>
                            <h6 style="color:gray;">Usado para la similitud entre usuarios</h6>
                        {% elif forloop.counter = 2 %}
                            <h5 style="color: purple;">Cantidad maxima de vecinos</h5>
                            <h6 style="color:gray;">Usado para restringir los k-vecinos más cercanos.</h6>
                        {% elif forloop.counter = 3 %}
                            <h5 style="color: orange;">Meses de historico</h5>
                            <h6 style="color:gray;">Usado para el historico de interacciones</h6>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
</div>
<br>       

{% endblock %}

